<h1><%= @book.title %></h1>

<div class="book-details">
  <p><strong>Author:</strong> <%= @book.author %></p>
  <p><strong>Category:</strong> <%= @book.category %></p>
</div>

<%= link_to "Back to Books", books_path, class: "btn btn-secondary mt-3" %>
