<div class="container">
  <h1><%= current_user.name.capitalize %>'s Loans</h1>
  <ul>
    <% @loans.each do |loan| %>
      <li><%= loan.book.title %> | Due: <%= loan.end_date.strftime("%b %d, %Y") %></li>
      <br>
    <% end %>
  </ul>

  <!--Need back to all books button-->
</div>
