<div class="container">
  <%= simple_form_for [@book, @loan] do |f| %>
    <!--Need to use datepickr -->
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit 'Borrow', class: "button" %>
  <% end %>
</div>
